<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous">
</head>
<body>

<div  style="background: linear-gradient(to bottom right,skyblue,white);
    min-height: 100vh;
    margin: 0;">
<img src="{% static 'img/growth__1_-removebg-preview.png' %}"
     alt="Logo"
     style="width:=270;height:100px;margin-top:-30px; margin-left:-20px;">

      <div class="btn-group">
  <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
  style="height:30px;margin-top:-25px; margin-left:1235px;">
    Login / Create
  </button>
  <ul class="dropdown-menu" style="margin-left:-55px;margin-top:5px;">
     <li><a class="dropdown-item" href="#">Login</a></li>
    <li><a class="dropdown-item" href="#">Create</a></li>
  </ul>
</div>
<img src="{% static 'img/aaa.png' %} "  style="margin-top:150px;height:500px;width:1000px;margin-left:-80px">
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>